# List and Dictionary

In [71]:
lst = [0,1,2,3,4]

In [72]:
lst[0]

0

In [73]:
lst[0:4]

[0, 1, 2, 3]

In [74]:
lst[-1]

4

In [75]:
lst+=[3.14,2.71,5.67]

In [76]:
lst

[0, 1, 2, 3, 4, 3.14, 2.71, 5.67]

In [77]:
type(lst[4])

int

In [78]:
type(lst[6])

float

In [79]:
lst+=['ucp','Lahore','pakistan']

In [80]:
lst

[0, 1, 2, 3, 4, 3.14, 2.71, 5.67, 'ucp', 'Lahore', 'pakistan']

In [81]:
lst.extend([45,55,65,75])

In [82]:
lst

[0, 1, 2, 3, 4, 3.14, 2.71, 5.67, 'ucp', 'Lahore', 'pakistan', 45, 55, 65, 75]

In [83]:
lst.append(['umt','uet','uol'])

In [84]:
lst

[0,
 1,
 2,
 3,
 4,
 3.14,
 2.71,
 5.67,
 'ucp',
 'Lahore',
 'pakistan',
 45,
 55,
 65,
 75,
 ['umt', 'uet', 'uol']]

In [85]:
lst[-1]

['umt', 'uet', 'uol']

In [86]:
lst[-1][-1]

'uol'

In [87]:
lst[-1][1][2]

't'

In [88]:
lst.insert(5,555)

In [89]:
lst

[0,
 1,
 2,
 3,
 4,
 555,
 3.14,
 2.71,
 5.67,
 'ucp',
 'Lahore',
 'pakistan',
 45,
 55,
 65,
 75,
 ['umt', 'uet', 'uol']]

In [90]:
del lst[5]

In [91]:
lst

[0,
 1,
 2,
 3,
 4,
 3.14,
 2.71,
 5.67,
 'ucp',
 'Lahore',
 'pakistan',
 45,
 55,
 65,
 75,
 ['umt', 'uet', 'uol']]

In [92]:
lst.remove('ucp')

In [93]:
lst

[0,
 1,
 2,
 3,
 4,
 3.14,
 2.71,
 5.67,
 'Lahore',
 'pakistan',
 45,
 55,
 65,
 75,
 ['umt', 'uet', 'uol']]

In [94]:
lst.remove('umt')

ValueError: list.remove(x): x not in list

In [95]:
lst.pop()

['umt', 'uet', 'uol']

In [96]:
lst

[0, 1, 2, 3, 4, 3.14, 2.71, 5.67, 'Lahore', 'pakistan', 45, 55, 65, 75]

In [101]:
for i in lst:
    for x in lst:
        if type(x)==str:
            lst.remove(x)

In [102]:
lst

[0, 1, 2, 2.71, 3, 3.14, 4, 5.67, 45, 55, 65, 75]

In [107]:
lst.sort()

In [105]:
lst

[0, 1, 2, 2.71, 3, 3.14, 4, 5.67, 45, 55, 65, 75]

In [109]:
lst.sort(reverse=True)

In [110]:
lst

[75, 65, 55, 45, 5.67, 4, 3.14, 3, 2.71, 2, 1, 0]

# dictionary

In [111]:
d ={'country':['pakistan','iran','india','afganistan','china'],
   'capital':['islamabad','tehran','delhi','kabul','bejing'],
    'population':[24.5,22.1,135.7,5.8,175.3]
   }

In [112]:
d

{'country': ['pakistan', 'iran', 'india', 'afganistan', 'china'],
 'capital': ['islamabad', 'tehran', 'delhi', 'kabul', 'bejing'],
 'population': [24.5, 22.1, 135.7, 5.8, 175.3]}

In [116]:
d.keys()

dict_keys(['country', 'capital', 'population'])

d.items()

In [117]:
d.items()

dict_items([('country', ['pakistan', 'iran', 'india', 'afganistan', 'china']), ('capital', ['islamabad', 'tehran', 'delhi', 'kabul', 'bejing']), ('population', [24.5, 22.1, 135.7, 5.8, 175.3])])

In [119]:
d.values()

dict_values([['pakistan', 'iran', 'india', 'afganistan', 'china'], ['islamabad', 'tehran', 'delhi', 'kabul', 'bejing'], [24.5, 22.1, 135.7, 5.8, 175.3]])

In [126]:
for k in d.keys():
    print(k)

country
capital
population

In [128]:
for v in d.values():
    print(v)

['pakistan', 'iran', 'india', 'afganistan', 'china']
['islamabad', 'tehran', 'delhi', 'kabul', 'bejing']
[24.5, 22.1, 135.7, 5.8, 175.3]

In [132]:
for k,v in d.items():
    print(k," => ",v)

country  =>  ['pakistan', 'iran', 'india', 'afganistan', 'china']
capital  =>  ['islamabad', 'tehran', 'delhi', 'kabul', 'bejing']
population  =>  [24.5, 22.1, 135.7, 5.8, 175.3]

# pandas

In [135]:
import pandas as pd

In [136]:
df= pd.DataFrame.from_dict(d)

In [137]:
df

      country    capital  population
0    pakistan  islamabad        24.5
1        iran     tehran        22.1
2       india      delhi       135.7
3  afganistan      kabul         5.8
4       china     bejing       175.3

In [142]:
df.to_csv('pbd_d2.csv',index=False,header=True)

In [143]:
df

      country    capital  population
0    pakistan  islamabad        24.5
1        iran     tehran        22.1
2       india      delhi       135.7
3  afganistan      kabul         5.8
4       china     bejing       175.3

In [146]:
dff=pd.read_csv('pbd_d2.csv')

In [147]:
dff

      country    capital  population
0    pakistan  islamabad        24.5
1        iran     tehran        22.1
2       india      delhi       135.7
3  afganistan      kabul         5.8
4       china     bejing       175.3

In [148]:

dff.tail(3)

      country capital  population
2       india   delhi       135.7
3  afganistan   kabul         5.8
4       china  bejing       175.3

In [149]:
dff.head(3)

    country    capital  population
0  pakistan  islamabad        24.5
1      iran     tehran        22.1
2     india      delhi       135.7